<!-- Since the home.ejs file was getting too long, we created a separate file for post.ejs and comment.ejs and distributed the code from the main home.ejs file to these files." -->
<li>
    <p>
        <%= comment.content %>
        <!-- CHANGE :: display the likes of this comment, if the user is logged in, then show the link to toggle likes, else, just show the count -->
            <!-- study about the data attribute -->
            <small>
                <% if (locals.user){ %>
                    <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                            <%= comment.likes.length %> Likes
                    </a>
                <% }else{ %>
                    <%= comment.likes.length %> Likes
                <% } %>
            </small>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
        <%if(locals.user && comment.user.id == locals.user.id){%>
            <div class="postDeleteButton">
                <a class="post-delete-button" href="/comments/destroy/<%=comment.id%>">Delete Comment</a>
            </div>
        <%}%>
    </p>
</li>