<!-- This whole layout.ejs file is a wrapper to the body variable, which means the 'body' variable will be replaced by the other ejs file which will ultimately help us in creating the final rendered page. The purpose of this layout folder is to define a common styles for all the pages. And if some page needs to have a specific style then that page will have its own css files included in the file itself.-->

<!-- Every layout file is known as the wrapper, since it is being used to wrap the different variables using the partials code, the partial code is written in the other file and the other partial code is written in this file itself. -->
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/4008/4008330.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/layout.css">
        <!-- Here since we have already defined the static folder which consists of css files, which contains layout.css so the app will look for the css in that folder itself. -->        
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <%- style %>
        <!-- This line here will simply tell the app that when ever we encounter any css file in any of the home.ejs or the user_profiles.ejs that file should automatically move to the header section of the file. -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <%- include('_header'); %>
        
        <main id="layout-main">
            <%- body %>
        </main>
        <!-- This body variable will be replaced by the home.ejs, user_profiles.ejs which will be rendered on the client. -->
        <%- include('_footer'); %>    
        <%- script %>
        <!-- This line here will simply tell the app that when ever we encounter any js file in any of the home.ejs or the user_profiles.ejs that file should automatically move to the last line of the body section of the file. -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- Noty does not require jQuery, initially it was required but with the updated version jQuery is not required. -->

        <script>
            <% if (flash.success && flash.success.length > 0) {%>
                //IMPORTANT : Remember one thing, the noty.js will not work without the flash messages, so the connect-flash is going to be used before we could use flash messages. And the flash messages requires the session cookie, so all of these things are required for notyjs to work.
                new Noty({
                    theme: 'relax',
                    text: "<%= flash.success %>",
                    type: 'success',
                    layout: 'bottomRight',
                    timeout: 1500
                    
                }).show();    
            <%} %>

            <% if (flash.error && flash.error.length > 0) {%>
                new Noty({
                    theme: 'relax',
                    text: "<%= flash.error %>",
                    type: 'error',
                    layout: 'bottomRight',
                    timeout: 1500
                    
                }).show();    
            <%} %>
        </script>
    </body>
</html>