<!-- Note:- The line in the index.js file     app.set('layout extractStyles', true);     will help us in extracting the file from the below line and let us add it to the header section of the layout.ejs file. And this addition of the css file will make the background color as per our own requirement. So now we are able to add individual css files into the app.-->
<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Phoenix / Profile Page
</h1>


<% if(user.id == profile_user.id){ %>
    <!-- if user matches then show the form -->
    <form action="/users/update/<%= profile_user.id %>" method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
        <input type="submit"  value="Update">
    </form>
    
<%}else{%>    
    <!-- else show only the profile info -->
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
<%} %>